*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Project exclude paths
/network-core/build/
/network-core/build/classes/kotlin/android/main/
/network-core/build/classes/kotlin/iosArm64/main/klib/
/network-core/build/classes/kotlin/iosSimulatorArm64/main/klib/
/network-core/build/classes/kotlin/iosX64/main/klib/
/network-ktor/build/
/network-ktor/build/classes/kotlin/android/main/
/network-ktor/build/classes/kotlin/iosArm64/main/klib/
/network-ktor/build/classes/kotlin/iosSimulatorArm64/main/klib/
/network-ktor/build/classes/kotlin/iosX64/main/klib/
/sample-api/build/
/sample-api/build/classes/kotlin/android/main/
/sample-api/build/classes/kotlin/iosArm64/main/klib/
/sample-api/build/classes/kotlin/iosSimulatorArm64/main/klib/
/sample-api/build/classes/kotlin/iosX64/main/klib/
/security-core/build/
/security-core/build/classes/kotlin/android/main/
/security-core/build/classes/kotlin/iosArm64/main/klib/
/security-core/build/classes/kotlin/iosSimulatorArm64/main/klib/
/security-core/build/classes/kotlin/iosX64/main/klib/
/network-ws-core/build/
/network-ws-core/build/classes/kotlin/android/main/
/network-ws-core/build/classes/kotlin/iosArm64/main/klib/
/network-ws-core/build/classes/kotlin/iosSimulatorArm64/main/klib/
/network-ws-core/build/classes/kotlin/iosX64/main/klib/
/network-ws-ktor/build/
/network-ws-ktor/build/classes/kotlin/android/main/
/network-ws-ktor/build/classes/kotlin/iosArm64/main/klib/
/network-ws-ktor/build/classes/kotlin/iosSimulatorArm64/main/klib/
/network-ws-ktor/build/classes/kotlin/iosX64/main/klib/
/.kotlin/